@page
@model WebApp.Pages.Departamentos.GridModel
@{
}

<div class="container">

    <div class="card">
        <div class="card-header">
            Departamentos
        </div>
        <div class="card-body">
            <a class="btn btn-outline-primary" asp-page="Edit"><i class='bx bx-add-to-queue'></i></a>

            <div class="row">

                <div class="col-12">
                    <table id="GridView" class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Descripcion</th>
                                <th>Ubicacion</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.GridList)
                            {
                            <tr>
                                <td>@item.Id_Departamento</td>
                                <td>@item.Descripcion</td>
                                <td>@item.Ubicacion</td>
                                <td>@(item.Estado ? "Activo": "Inactivo")</td>
                                <td>
                                    <a class="btn btn-outline-primary" asp-page="Edit" asp-route-id="@item.Id_Departamento"><i class='bx bxs-edit'></i></a>
                                    <a class="btn btn-outline-primary" onclick="DepartamentosGrid.OnClickEliminar(@item.Id_Departamento)"><i class='bx bx-trash'></i></a>
                                </td>


                            </tr>
                            }

                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script defer src="~/App/Departamentos/Grid.js"></script>

 }